<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
	  작성자 : 이상준 내용
	  내용 : ReviewMapper.xml
	  파라미터: 없음 
	  최초 작성일: 2024.02.29
	  마지막 수정일: 2024.02.29
	  -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie.dao.mybatis.ReviewMapper">

    <resultMap id="reviewResultMap" type="review">
        <id property="reviewID" column="review_ID"/>
        <id property="movieID" column="movie_ID"/>
        <result property="userID" column="user_ID"/>
        <result property="content" column="content"/>
        <result property="regDate" column="reg_date"/>
        <result property="point" column="point"/>
        <result property="viewPoint" column="view_point"/>
        <result property="like" column="like_count"/>
        <result property="myLike" column="my_like"/>
    </resultMap>

    <select id="selectReviewById" parameterType="map" resultMap="reviewResultMap">
       SELECT c.*,
              SUM(CASE WHEN l.user_ID = #{userID} THEN 1 ELSE 0 END) AS 'my_like'
       from review c left join review_likes l on c.review_ID = l.review_ID 
	   WHERE movie_id = #{movieID} 
	   group by review_ID
		<choose>
			<when test='order == 1'>
	        order by like_count desc,reg_date desc
			</when>
			<when test='order == 2'>
	        order by point desc, reg_date desc
			</when>
			<otherwise>
	        order by reg_date desc
			</otherwise>
		</choose>
		LIMIT #{start}, #{pageSize}
    </select>
    
    <select id="selectCountById" parameterType="int" resultType="integer">
        SELECT count(*) FROM review WHERE movie_id = #{movieID};
    </select>
    
    <select id="selectMyReviewCnt" parameterType="map" resultType="integer">
        SELECT case when count(*) > 0 then 1 else 0 end as 'count' FROM review WHERE movie_id = #{movieID} and user_id = #{userID};
    </select>
    
    <insert id="insertReview" parameterType="review">
	INSERT INTO review
	(movie_ID,
	user_ID,
	content,
	reg_date,
	point,
	view_point)
	VALUES
	(#{movieID},
	#{userID},
	#{content},
	#{regDate},
	#{point},
	#{viewPoint});
    </insert>

    <update id="updateReview" parameterType="review">
        UPDATE review
        SET movie_thcd = #{movieThcd}, content = #{content}, reg_date = #{regDate}, point = #{point}, like_count = #{like}
        WHERE movie_id = #{movieID}
    </update>
    
    <update id="plusLikeCount" parameterType="integer">
        update review set like_count =  like_count+1 where review_ID = #{review_ID};
    </update>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM review WHERE movie_id = #{movieID}
    </delete>

</mapper>