<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 김진수 -->
<!-- 내용 : movieTheater DB -->
<!-- 최초 작성일 : 24-02-29 -->
<!-- 마지막 수정일 : 24-02-29(김진수) -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.dao.mybatis.SeatMapper">

	<resultMap id="seatResultMap" type="Seat">
		<result property="seatID" column="seat_id" />
		<result property="movieThcd" column="movie_thcd" />
		<result property="movieID" column="movie_ID" />
		<result property="seatNumber" column="seat_number" />
		<result property="seatGroup" column="seat_group" />
	</resultMap>

	<select id="seatCheckList" parameterType="Integer"
		resultMap="seatResultMap">
		select * from seat where movie_thcd = #{movieThcd};
	</select>

	<delete id="putTheSeatsBack" parameterType="Integer">
		DELETE FROM seat
		WHERE seat_id = #{seatID}
	</delete>

</mapper>
