<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 김진수 -->
<!-- 내용 : movieTheater DB -->
<!-- 최초 작성일 : 24-02-29 -->
<!-- 마지막 수정일 : 24-03-06(김진수) tiket insert 추가-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.dao.mybatis.TicKetMapper">
	<resultMap id="ticketResultMap" type="ticket">
		<result property="ticketID" column="ticket_ID" />
		<result property="movieID" column="movie_ID" />
		<result property="userID" column="user_id" />
		<result property="numberPeople" column="number_people" />
		<result property="previewDate" column="preview_date" />
		<result property="movieName" column="movie_name" />
		<result property="title" column="title" />
		<result property="paymentDate" column="payment_date" />
		<result property="seatList" column="seat_list" />
		<result property="seatIDList" column="seatID_list" />
		<result property="ticketPrice" column="ticket_price" />
	</resultMap>

	<resultMap id="myBookedListMap" type="userReservationView">
		<result property="image" column="image" />
		<result property="ticketID" column="ticket_ID" />
		<result property="movieID" column="movie_ID" />
		<result property="userID" column="user_id" />
		<result property="numberPeople" column="number_people" />
		<result property="previewDate" column="preview_date" />
		<result property="movieName" column="movie_name" />
		<result property="title" column="title" />
		<result property="paymentDate" column="payment_date" />
		<result property="seatList" column="seat_list" />
		<result property="seatIDList" column="seatID_list" />
		<result property="ticketPrice" column="ticket_price" />
	</resultMap>

	<select id="getTicketListById" parameterType="String"
		resultMap="myBookedListMap">
		SELECT t.*, m.image
		FROM ticket t
		INNER JOIN movie m ON
		t.movie_ID = m.movie_ID
		INNER JOIN user u ON t.user_id = u.id
		WHERE u.id
		= #{user_id};
	</select>

	<delete id="cancelTicketByID" parameterType="Integer">
		DELETE FROM ticket
		WHERE ticket_ID = #{ticketID};
	</delete>

	<select id="getTicketByID" parameterType="Integer"
		resultMap="ticketResultMap">
		SELECT *
		FROM ticket
		WHERE ticket_ID = #{ticketID}
	</select>

	<insert id="ticketInsert" parameterType="ticket">
		insert into ticket
		value(
		null,
		#{movieID},
		#{userID},
		#{numberPeople},
		#{previewDate},
		#{movieName},
		#{title},
		#{paymentDate},
		#{seatList},
		#{seatIDList},
		#{ticketPrice}
		);
	</insert>
</mapper>
