@charset "UTF-8";
/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

/* reset CSS */
a {
	text-decoration: none;
	color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input,
textarea,
select {
	outline: none;
}

button,
input,
textarea,
select {
	font-family: "Montserrat", sans-serif;
}

h2 {
	margin: 10px;
	text-align: center;

}

.container {
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 예매 취소리스트 css */
.ticket-true {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	border: 1px solid #eee;
	margin: 10px;
}

.ticket-table {
	width: 100%;
	border-bottom: 1px solid black;
}

.ticket-table ul {
	display: flex;
	font-size: 14px;
	font-weight: 400;
	color: #222;
	justify-content: center;
}

.ticket-table ul li {
	flex: 1;
	border-right: 1px solid white;
	background-color: #FAF0E6;
	text-align: center;
}

li:last-child {
	border: 0;
}

.ticket-table .title {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.ticket-table .title li {
	font-weight: 600;
	font-size: 14px;
	background-color: #eee;
}

.ticket-table li button {
	padding: 10px;
	background-color: #F5FFFA;
	font-weight: 600;
	border-radius: 5px;
	margin: 3px;
}

.ticket-table li button:hover {
	background-color: #4169E1;
	color: #eee;
}

/* 리뷰 신고 리스트 css */

.review-true {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	border: 1px solid #eee;
	margin: 10px;
}

.review-table {
	width: 100%;
	border-bottom: 1px solid #d4f01a;
}

.review-table .title li {
	font-size: 14px;
	color: #eee;
	background-color: #4169E1;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.review-table ul {
	display: flex;
}

.review-table ul li {
	flex: 1;
	font-size: 14px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-align: center;
	background-color: #0de4b972;
}

.review-table button {
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
}

.review-table button:hover {
	background-color: #222;
	color: #eee;
}

.admin-btn {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.admin-btn button {
	display: block;
	padding: 50px;
	margin: 30px;
	border-radius: 10px;
}
.admin-btn .review:hover{
	background-color: blue;
	color: #fff;
}
.admin-btn .ticket:hover{
	background-color: #FAF0E6;
	color: #333;
}
