@charset "UTF-8";

.main-movie {
	
    display: block;
    position: relative;
    min-height: 880px;
    padding: 0 0 80px 0;
    background-color: #222; 
}
.background{
	overflow: hidden;
    position: absolute;
    z-index: 0;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
       background: -webkit-linear-gradient(left, rgba(85, 63, 5, 1) 0%, rgba(23, 17, 1, 0) 50%, rgba(85, 63, 5, 1) 100%);
    background: -o-linear-gradient(left, rgba(85, 63, 5, 1) 0%, rgba(23, 17, 1, 0) 50%, rgba(85, 63, 5, 1) 100%);
    background: -ms-linear-gradient(left, rgba(85, 63, 5, 1) 0%, rgba(23, 17, 1, 0) 50%, rgba(85, 63, 5, 1) 100%);
    background: linear-gradient(to right, rgba(85, 63, 5, 1) 0%, rgba(23, 17, 1, 0) 50%, rgba(85, 63, 5, 1) 100%);
    
}
.main-movie .background:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
     right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
     }
.main_movie .background:after{
	    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
   background-color: rgba(3, 1, 21, 0.7);
 
}
.background .bg-pattern {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg-movie-detail-pattern.png) repeat 0 0;
}
.main_movie .content{
	overflow: hidden;
    display: block;
    position: relative;
    z-index: 3;
    width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 0 0 50px 0;
        box-sizing: border-box;
}
.tab-sorting {
	text-align: center;
    margin: 169px 0 20px 0;
}

.tab-sorting button.on {
	font-size:1em;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.tab-sorting button {
    position: relative;
    display: inline-block;
    margin: 0 18px;
    padding: 0 0 5px 0;
    vertical-align: top;
    color: #aaa;
    border: 0;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}
.main-movie-list{
	height: auto;
}
.main-movie-list > ol{
	display: block;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-movie-list > ol li {
    float: left;
    width: 245px;
    margin-left: 40px;
    padding: 0;
}
.main-movie-list > ol li:nth-child(1){
	margin-left:  0;
}
.main-movie-list > ol li .movie-list-info {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 352px;
    border-radius: 5px;
    background-color: #24202b;
     transition:all 1000ms linear 500ms;
}
.main-movie-list > ol li .movie-list-info img.poster {
    display: block;
    width: 245px;
    height: 352px;
    border-radius: 5px;
}

.main-movie-list > ol li .movie-list-info .rank {
	margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px 0 0 15px;
    line-height: 1.1;
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
     background: url(../img/bg-main-movie-rank.png) no-repeat 0 0;
}
.main-movie-list p {
    margin: 0;
    padding: 0;
}

.main-movie-list > ol li .movie-list-info:hover .wrap {
	visibility: visible;
	opacity: 1;
	
}

.main-movie-list > ol li .movie-list-info .wrap {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
 transition:all 0.3s;
 opacity: 0;
}

.main-movie-list > ol li .btn-util {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 0 0 0 85px;
    text-align: left;
}
.main-movie-list > ol li .btn-util .btn-like {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 36px;
    line-height: 34px;
    margin: 0;
    padding: 0 5px;
    color: #fff;
    font-size: 0.8667em;
    border-color: #555;
    background-color: rgba(0, 0, 0, 0.4);
}
.main-movie-list > ol li .btn-util .case .button {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    text-align:  center;
}
.button.gblue {
    color: #fff;
    line-height: 36px;
    border: 0;
    background: #037b94;
}
.button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
   /*  font-family: NanumBarunGothic, Dotum, '돋움', sans-serif; */
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}
.main-movie-list > ol li .btn-util .btn-like .ico-heart-toggle-gray {
    display: block;
    margin: 10px;
    width: 17px;
    height: 15px;
    background-image: url(../img/ico-heart-toggle-main.png);
}
.main-movie-list > ol li .movie-list-info .wrap .summary {
    overflow: hidden;
    height: 152px;
}

.main-movie-list > ol li .movie-list-info .wrap .score {
    overflow: hidden;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 30px;
    padding: 10px 0 0 0;
    text-align: center;
    border-top: 1px solid #3c3c3c;
    text-align: center;
}
.main-movie-list > ol li .movie-list-info .wrap .score .preview {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 36px;
}
.main-movie-list > ol li .movie-list-info .wrap .score .preview .tit {
    display: block;
    float: left;
    margin: 0 19px 0 0;
    font-size: 0.8667em;
}
.main-movie-list > ol li .movie-list-info .wrap .score .preview .number {
    float: left;
    font-size: 1.6em;
    color: #59bec9;
}
.main-page p {
    margin: 0;
    padding: 0;
}

.more-movie  a:hover{
	text-decoration: underline;

	}
.more-movie  a{
    color: #666;
  
}
.content .more-movie {
	text-decoration: none;
    display: block;
    position: absolute;
    right: 0;
    top: 177px;
    color: #aaa;
    line-height: 16px;
}
.ico-more-corss.gray{
	display: inline-block;
	    width: 16px;
    height: 16px;
	background-image: url(../img/ico-more-cross-gray.png);
}


.main_movie .content .search-link {
    float: left;
    overflow: hidden;
    display: block;
    height: 55px;
    margin: 50px 0 0 0;
    padding: 23px 0 0 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}
.search-link .search {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 30px;
    padding: 0 30px 0 0;
    border-bottom: 1px solid #423e3e;
}
.search-link .search .input-text {
	outline: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
}
.ico-search-w {
	display:inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/ico-search-white.png);
}
.search-link .search .btn {
	cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
.search-link a:hover{
	text-decoration: underline;
}
.search-link a {
	text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 30px;
    color: #fff;
}
.search-link .cell:nth-child(1){
	border-left: 0px;
}
.search-link .cell {
    position: relative;
    float: left;
    width: 24%;
    text-align: center;
    border-left: 1px solid #423e3e;
}
.search-link a .iconset {
    margin-top: -2px;
    margin-right: 5px;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.ico-schedule-main {
    width: 24px;
    height: 26px;
    background-image: url(../img/ico-schedule-main.png);
}
.ico-boxoffice-main {
    width: 26px;
    height: 24px;
    background-image: url(../img/ico-boxoffice-main.png);
}
.ico-quick-reserve-main {
    width: 29px;
    height: 25px;
    background-image: url(../img/ico-quick-reserve-main.png);
}
