@charset "UTF-8";

.movie-detail-page {
    position: relative;
    z-index: 1;
    height: 520px;
    margin: 0 0 40px 0;
    color: #ccc;
    background-color: #151515;
}

* {
    box-sizing: border-box;
}

.movie-detail-page .bg-pattern {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url(https://img.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png) repeat-x 0 0;
}

.movie-detail-page .bg-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
    background: -webkit-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
    background: -o-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
    background: -ms-linear-gradient(left, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
    background: linear-gradient(to right, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
}

.movie-detail-page .movie-detail-cont {
    position: relative;
    z-index: 4;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 55px 0 0 0;
}

.movie-detail-page .movie-detail-cont .contents-type {
    display: inline-block;
    margin: 0 0 0 6px;
    line-height: 22px;
    vertical-align: middle;
}

.movie-detail-page p {
    margin: 0;
    padding: 0;
}

/*타이틀  */
.movie-detail-page .movie-detail-cont .title {
    position: static;
    left: inherit;
    top: inherit;
    width: 800px;
    padding: 15px 0 0 0;
    color: #fff;
    font-size: 3.0666em;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 2px 2px 10px rgba(0,0,0,.7);
}
.movie-detail-page .movie-detail-cont .title-eng {
    width: 800px;
    padding: 10px 0 0 0;
    font-size: 1.3333em;
    font-family: Roboto;
    color: #fff;
    line-height: 1.1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie-detail-page .movie-detail-cont .btn-util {
    padding: 15px 0 0 0;
}

.movie-detail-page .movie-detail-cont .btn-util .btn {
    display: inline-block;
    min-width: 100px;
    height: 36px;
    line-height: 34px;
    margin: 0 6px 0 0;
    padding: 0 10px;
    font-size: .9333em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #706f72;
    border-radius: 4px;
    background-color: transparent;
}
.movie-detail-page .movie-detail-cont .btn-util .btn .iconset {
    margin-right: 4px;
}
.ico-heart-line {
    width: 17px;
    height: 15px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-heart-line.png);
}
.movie-detail-page .movie-detail-cont .btn-util .btn.on .ico-heart-line, .movie-detail-page .movie-detail-cont .btn-util .btn:hover .ico-heart-line {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-heart-on.png);
}
.movie-detail-page .movie-detail-cont .btn-util .btn:hover{
	background-color: #eee;
	color: black;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
/*실관람평, 예매율, 누적 관객수  */
.movie-detail-page .movie-detail-cont .info {
    position: absolute;
    left: 0;
    bottom: 45px;
    padding: 0;
}
.movie-detail-page .movie-detail-cont .info:after,
.movie-detail-page .movie-detail-cont .info:before {
    content: '';
    display: table;
}
.movie-detail-page .movie-detail-cont .info:after {
    clear: both;
}
.movie-detail-page .movie-detail-cont .info .score {
    float: left;
    padding: 0;
}
.movie-detail-page .movie-detail-cont .info .tit {
    display: block;
    padding: 0 0 15px 0;
    line-height: 1.1;
    font-size: .9333em;
}
.movie-detail-page .movie-detail-cont .info .score .number {
    padding: 0 0 0 30px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-megabox.png) no-repeat 0 center;
    font-family: Roboto, Dotum, '돋움', sans-serif;
    font-weight: 400;
}

.movie-detail-page .movie-detail-cont .info .score .number.gt .before {
    font-size: 2.1333em;
}
.movie-detail-page .movie-detail-cont .info .score .number .before {
    color: #59bec9;
}
.movie-detail-page .movie-detail-cont .info .score .number>p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
}

em {
    font-style: normal;
}

.movie-detail-page .movie-detail-cont .info .rate {
    float: left;
    padding: 0 0 0 35px;
}
.movie-detail-page .movie-detail-cont .info .rate .cont {
    display: inline-block;
    min-height: 35px;
    padding: 0 0 0 30px;
    vertical-align: middle;
    line-height: 1.1;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-ticket-gray.png) no-repeat 0 center;
}
.movie-detail-page .movie-detail-cont .info .rate .cont em {
    margin: 0 4px 0 0;
    color: #fff;
    font-size: 2.1333em;
    font-family: Roboto, Dotum, '돋움', sans-serif;
    font-weight: 400;
}

.movie-detail-page .movie-detail-cont .info .audience {
    float: left;
    padding: 0 0 0 35px;
}
.movie-detail-page .movie-detail-cont .info .audience .cont {
    display: inline-block;
    padding: 0 0 0 30px;
    vertical-align: middle;
    line-height: 1.1;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-person.png) no-repeat 0 center;
}
.movie-detail-page .movie-detail-cont .info .audience .cont em {
    margin: 0 4px 0 0;
    color: #fff;
    font-size: 2.1333em;
    font-family: Roboto, Dotum, '돋움', sans-serif;
    font-weight: 400;
}



/* 포스터  */
.movie-detail-page .movie-detail-cont .poster {
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 2;
    width: 260px;
    height: 374px;
}
.movie-detail-page .movie-detail-cont .poster .wrap {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
}
.movie-detail-page .movie-detail-cont .poster .wrap .movie-grade {
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 4;
    width: 23px;
    height: 23px;
}
.movie-detail-page .movie-detail-cont .poster .wrap img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
img {
    border: 0;
}
.movie-grade.age-12 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/12_46x46.png);
    background-size: 23px 23px;
}
.movie-grade.age-all {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/ALL_46x46.png);
    background-size: 23px 23px;
}
.movie-grade.age-15 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/15_46x46.png);
    background-size: 23px 23px;
}
.movie-grade.age-19 {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/txt/18_46x46.png);
    background-size: 23px 23px;
}

/* 포스터 아래 예매버튼  */
.movie-detail-page .movie-detail-cont .screen-type {
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    bottom: 45px;
    width: 260px;
}

.movie-detail-page .movie-detail-cont .screen-type.col .btn:first-child {
    border-radius: 5px 0 0 5px;
}
.movie-detail-page .movie-detail-cont .screen-type.col .btn {
    width: 130px;
    border-radius: 0 5px 5px 0;
}
.movie-detail-page .movie-detail-cont .screen-type .btn:first-child {
    margin-left: 0;
    width: 100%;
}
.movie-detail-page .movie-detail-cont .screen-type .btn.reserve {
    background-color: #329eb1;
}
.movie-detail-page .movie-detail-cont .screen-type .btn {
    display: block;
    float: left;
    height: 46px;
    line-height: 44px;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    font-weight: 700;
}


/* 하단 정보창  */
.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}
.tab-list {
    position: static;
    width: 100%;
    background-color: rgba(255, 255, 255);
}
.tab-list:after, .tab-list:before {
    content: '';
    display: table;
}
.tab-list:after {
    clear: both;
}
.tab-list>ul {
    position: relative;
    width: 100%;
    height: 42px;
}
.tab-list>ul:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: #503396;
}
ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab-list>ul>li:first-child:nth-last-child(4), .tab-list>ul>li:first-child:nth-last-child(4)~li {
    width: 25%;
}
.tab-list>ul>li.on {
    border: 1px solid #503396;
    border-bottom: 0;
}
.tab-list>ul>li {
    float: left;
    height: 42px;
    margin: 0;
    border: 1px solid #ebebeb;
    border-width: 1px 0 1px 1px;
}
.tab-list>ul>li.on>a {
    z-index: 3;
    color: #503396;
    background-color: #fff;
}
.tab-list>ul>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 41px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color: #222;
    font-size: 1.0667em;
    text-decoration: none;
}
.tab-list>ul>li:last-child {
    border-right: 1px solid #ebebeb;
}
.tab-list>ul>li:last-child.on {
    border-right: 1px solid #503396;
}
.movie-summary {
    margin: 40px 0 50px 0;
    
}
.movie-summary .txt {
    overflow: hidden;
    height: 180px;
    padding: 30px 0;
}

.movie-summary .btn-more {
    padding: 30px 0 0 0;
}
.btn-more {
    position: relative;
    padding: 40px 0 0 0;
}

/* 상세정보 화면  */
.movie-info {
	border-top: 1px solid #eaeaea;
    padding: 30px 0;
    color: #222;
}
.movie-info p {
    margin: 0;
    padding: 0;
}
.movie-info .line p:first-child {
    padding: 0;
}
.movie-info .line p {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 0 0 20px;
}
.movie-info .line p:before {
    content: '';
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    width: 1px;
    height: 13px;
    margin: -6px 0 0 0;
    background-color: #d8d9db;
}

/*실관람평  */
.mb15 {
    margin-bottom: 15px !important;
}
.mt70 {
    margin-top: 70px !important;
}
.tit-util:after, .tit-util:before {
    content: '';
    display: block;
}
.tit-util:after {
    clear: both;
}
h2.tit.small {
    padding: 0 0 16px 0;
    font-size: 1.4666em;
    color: #503396;
}
.tit-util .right {
    float: right;
    margin: 13px 0;
}
.tit-util .right a {
    display: inline-block;
}
a.button {
    text-decoration: none;
}
a:link {
    color: #444;
    text-decoration: none;
}
.button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}
.tit-util .tit {
    float: left;
    padding: 0 !important;
    line-height: 1.1;
}
h2.tit {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}
.movie-idv-story {
    display: block;
    position: relative;
    min-height: 500px;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-recommend {
    display: table-cell;
    width: 85px;
    height: 50px;
    padding: 0 20px 0 0;
    vertical-align: middle;
}
ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.movie-idv-story ul li {
    position: relative;
    width: 100%;
}
.movie-idv-story ul li .story-area {
    display: block;
    width: 100%;
}
.movie-idv-story ul li .story-area .user-prof {
    position: relative;
    float: left;
    width: 105px;
    text-align: center;
}
.movie-idv-story ul li .story-area .user-prof.my:before {
    content: 'MY';
    overflow: hidden;
    display: block;
    position: absolute;
    left: 20px;
    top: -5px;
    width: 25px;
    height: 25px;
    line-height: 27px;
    border-radius: 25px;
    color: #fff;
    font-size: 11px;
    background-color: #666;
}
.movie-idv-story ul li.type03 .story-area .story-box {
    border-radius: 0 10px 10px 10px;
    border: 1px solid #eaeaea;
    background-color: #fff;
}
.movie-idv-story ul li .story-area .user-prof .prof-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
}
.movie-idv-story ul li .story-area .user-prof .prof-img img {
    width: 100%;
}
.movie-idv-story ul li .story-area .user-prof .user-id {
    margin: 0;
    width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9333em;
    line-height: 1.1;
}

.movie-idv-story ul li .story-area .story-box {
    float: right;
    position: relative;
    width: calc(100% - 105px);
    height: 84px;
    padding: 0;
}
.movie-idv-story ul li.type03 .story-area .story-box .story-wrap {
    display: table;
    width: 100%;
    height: 84px;
}
.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-cont {
    display: table-cell;
    float: none;
    width: 850px;
    height: 84px;
    vertical-align: middle;
    padding-left: 30px;
    text-align: left;
    color: #666;
}
.movie-idv-story ul li .story-area .story-box .story-cont {
    display: table;
    float: left;
    width: 890px;
    height: 84px;
    padding: 0;
    vertical-align: middle;
}
.font-gblue {
    color: #01738b !important;
}
.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write a {
    width: 105px;
    height: 24px;
    color: #666;
    text-decoration: none;
}
.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write a i {
    margin-right: 5px;
}
.ico-story-write {
    width: 18px;
    height: 18px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-story-write.png);
}
.tooltip-cont {
	width: 225px;
    height: 80px;
    
    display: none;
    position: absolute;
    left: 0;
    top: -100px;
    width: 300px;
    padding: 20px;
    color: #222;
    font-size: .9333em;
    text-align: center;
    line-height: 1.5;
    border: 1px solid #d8d9db;
    border-radius: 5px;
    background-color: #fff;
}

.movie-idv-story ul li+li {
    margin-top: 20px;
    float: left;
}
.movie-idv-story ul li {
    position: relative;
    width: 100%;
}

.movie-idv-story ul li .story-area {
    display: block;
    width: 100%;
}
.movie-idv-story ul li .story-area .user-prof {
    position: relative;
    float: left;
    width: 105px;
    text-align: center;
}
.movie-idv-story ul li .story-area .user-prof .prof-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
}
.movie-idv-story ul li .story-area .user-prof .prof-img img {
    width: 100%;
}
.movie-idv-story ul li .story-area .user-prof .user-id {
    margin: 0;
    width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .9333em;
    line-height: 1.1;
}
.movie-idv-story ul li .story-area .story-box {
    float: right;
    position: relative;
    width: calc(100% - 105px);
    height: 84px;
    padding: 0;
}
.movie-idv-story ul li.type01 .story-area .story-box .story-wrap {
    display: block;
    width: 100%;
    height: 84px;
}
.movie-idv-story ul li.type01 .story-area .story-box .story-wrap .tit {
    float: left;
    height: 84px;
    width: 105px;
    line-height: 82px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0 0 0 10px;
}
.movie-idv-story ul li .story-area .story-box .review .tit {
    color: #503396;
}
.movie-idv-story ul li.type01 .story-area .story-box .tit {
    background-color: #f8f8fa;
}
.movie-idv-story ul li .story-area .story-box .tit {
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #f2f4f5;
    border-width: 1px 0 1px 1px;
}
.movie-idv-story ul li .story-area .story-box .review .story-cont {
    background-color: #f8f8fa;
    color: #503396;
    border-radius: 0 10px 10px 0;
}
.movie-idv-story ul li .story-area .story-box .story-cont {
    display: table;
    float: left;
    width: 890px;
    height: 84px;
    padding: 0;
    vertical-align: middle;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-point {
    display: table-cell;
    width: 90px;
    height: 50px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-point span {
    display: inline-block;
    vertical-align: top;
    font-size: 2.4em;
    font-family: Roboto;
    font-weight: 300;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-txt {
    display: table-cell;
    position: relative;
    padding: 0 20px 0 30px;
    text-align: left;
    color: #666;
    vertical-align: middle;
    font-size: .9333em;
    line-height: 1.4;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-txt:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 50px;
    margin-top: -25px;
    background-color: rgba(0, 0, 0, .1);
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-like {
    display: table-cell;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-like button {
    height: 30px;
    padding-top: 5px;
}
.movie-idv-story ul li button {
    background: 0 0;
    border: none;
}
.movie-idv-story ul li .story-area .story-box .story-cont .story-like button i {
    display: block;
    margin: 0 auto;
    vertical-align: top;
}
.ico-like-gray {
	cursor:pointer;
    width: 16px;
    height: 17px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-like-g.png);
}

.ico-like-purple {
    width: 16px;
    height: 17px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-like-p.png);
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-util {
    display: table-cell;
    position: relative;
    width: 40px;
    vertical-align: middle;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-util .post-funtion {
    position: static;
}

.post-funtion {
    position: absolute;
    top: 30px;
    right: 0;
}
.post-funtion .wrap, .post-funtion .wrapper {
    position: relative;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-util .post-funtion .btn-alert {
    width: 40px;
    background-position: 10px center;
}
.post-funtion .btn-alert {cursor: pointer;
    text-indent: -10000px;
    background: url(https://img.megabox.co.kr/static/pc/images/movie/btn-alert.png) center no-repeat;
    border: 0;
    width: 50px;
    height: 23px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}
.post-funtion .balloon-space.on {
    display: block;
}
.post-funtion .balloon-space.user .user {
    display: block;
}
.post-funtion .balloon-space.user {
    height: 90px;
    margin-top: -45px;
}
.movie-idv-story ul li .balloon-space {
    color: #444;
}
.post-funtion .balloon-space {
    display: none;
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 11;
    width: 260px;
    border: 1px solid #d8d9db;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}
.post-funtion .balloon-space .balloon-cont {
    position: relative;
    padding: 10px 25px 10px 20px;
}
.post-funtion .balloon-space.user .user {
    display: block;
}

.post-funtion .balloon-space .balloon-cont .user {
    display: none;
    padding: 0 5px;
    text-align: center;
}
.post-funtion .balloon-space .balloon-cont .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
p.reset {
    padding: 0;
    margin: 0;
}
.post-funtion .balloon-space .balloon-cont a {
    display: block;
    margin: 0;
    padding: 5px;
    border: 0;
    background-color: transparent;
    color: #037b94;
    font-size: .9333em;
}
a:link {
    color: #444;
    text-decoration: none;
}

.a-c {
    text-align: center !important;
}
.post-funtion .balloon-space .balloon-cont .user button {
    display: inline-block;
}

.post-funtion .balloon-space .balloon-cont button {
	cursor:pointer;
    display: block;
    margin: 0;
    padding: 5px;
    border: 0;
    background-color: transparent;
    color: #037b94;
    font-size: .9333em;
}
.movie-idv-story ul li button {
    background: 0 0;
    border: none;
}
.movie-idv-story ul li .balloon-space button i {
    margin-left: 4px;
}

.ico-arr-right-green {
    overflow: hidden;
    width: 6px;
    height: 10px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-arr-right-green.png);
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}



.movie-idv-story ul li .story-date {
	width: 100%;
    float: left;
    padding: 10px 0 0 0;
    text-align: right;
    font-size: .9333em;
    line-height: 1.1;
    color: #666;
}
.movie-idv-story ul li .story-date .review.on {
    display: block;
}



.movie-list-util {
    overflow: hidden;
    margin-bottom: 15px;
}
.mt30 {
    margin-top: 30px !important;
}
.movie-list-util .movie-sorting {
    float: left;
    padding: 10px 0 0 0;
}
.movie-list-util .movie-sorting span:first-child {
    margin-left: 0;
}

.movie-list-util .movie-sorting span {
    display: block;
    position: relative;
    float: left;
    margin: 0 10px;
}
.font-gblue {
    color: #01738b !important;
}
.movie-list-util .movie-sorting span .btn.on {
    color: #222;
    font-weight: 700;
}

.movie-list-util .movie-sorting span .btn {
    display: block;
    color: #666;
}
.movie-list-util button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}



.movie-list-util .movie-sorting-right {
    float: right;
    padding: 10px 0 0 0;
}
.movie-list-util .movie-sorting-right span:first-child {
    margin-left: 0;
}
.movie-list-util .movie-sorting-right span {
    display: block;
    position: relative;
    float: left;
    margin: 0 10px;
}
.movie-list-util .movie-sorting-right span .btn.on {
    color: #222;
    font-weight: 700;
}
.movie-list-util .movie-sorting-right span .btn {
    display: block;
    color: #666;
}
.movie-list-util .movie-sorting-right span:nth-child(2):before,
.movie-list-util .movie-sorting-right span:nth-child(3):before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    display: block;
    width: 1px;
    height: 12px;
    margin: -6px 0 0 0;
    background-color: #d8d9db;
}
.movie-list-util .movie-sorting-right button {
    cursor: pointer;
}
.gallery-top {
    width: 800px;
    height: 450px;
    margin: 0 auto;
}

.gallery-top .swiper-wrapper {
    width: 100%;
    height: 620px;
    overflow: hidden;
}
.videoContainer h2.tit {
    margin: 0 0 30px 0;
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
    font-size: 1.4666em;
    color: #351f67;
}
h2.tit {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}

.videoContainer{
	position: relative;
	
}


/*동영상 사이드 버튼  */
.slide-title .slide-btn {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-btn .btn-prev {
    left: 5px;
}
.slide-btn .btn-prev {
    position: absolute;
    top: 275px;
    width: 64px;
    height: 95px;
    background: 0 0;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.slide-btn .btn-next {
    right: 5px;
}
.slide-btn .btn-prev,
.slide-btn .btn-next{
    position: absolute;
    top: 275px;
    width: 64px;
    height: 95px;
    background: 0 0;
}

.slide-btn .btn-next span,
.slide-btn .btn-prev span {
    display: block;
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 0.9em;
}
.ico-next-circle {
    width: 64px;
    height: 64px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-next-circle.png);
}
.ico-prev-circle {
    width: 64px;
    height: 64px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-prev-circle.png);
}

nav.pagination {
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}
nav.pagination .active {
    color: #fff;
    background-color: #01738b;
    border-color: #01738b;
}
nav.pagination .control, .pagination a, .pagination strong {
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 4px;
}
nav.pagination .control, .pagination a, .pagination strong {
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 4px;
}

/*리뷰  */
.modal-layer.on {
    display: block;
} 
.modal-layer {
    overflow-y: scroll;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
    background-color:  rgb(1,1,1,0.5);
}

.modal-layer .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    min-height: 250px;
    margin: 0;
    padding: 45px 0 0 0;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.1);
    background: #fff;
}

header {
    color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: #222;
    border-bottom: 1px solid gray;
}
.modal-layer .wrap .layer-header {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #503396;
}
.modal-layer .wrap .layer-header h3.tit {
	margin: 0;
    color: #fff;
    padding: 15px 20px 0 20px !important;
    font-size: 1.2em;
    line-height: 1.1;
}


/* 모달 이름  */
.modal-layer .wrap .layer-con {
    overflow-y: auto;
    background-color: #fff;
    padding: 20px 20px 0 20px;
}
.regi-reply-score {
    position: relative;
    padding-bottom: 30px;
}
.regi-reply-score .tit {
    text-align: center;
    line-height: 1.3;
    font-size: 1.4666em;
}
.regi-reply-score p {
    margin: 0;
    padding: 0;
}

.regi-reply-score .score .box {
    margin-top: 20px;
}
.box-star-score {
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
}
.regi-reply-score .box {
    padding: 20px;
    border-radius: 10px;
    background-color: #f3f4f6;
}
.modal-layer .wrap .btn-group-fixed {
    height: 67px;
    padding: 15px 0 0 0;
    text-align: center;
    background-color: #fff;
}
.regi-reply-score .score .box .textarea {
    margin-top: 10px;
    background-color: #fff;
   
}
.textarea {
    border: 1px solid #d8d9db;
}

.regi-reply-score .score .box .textarea .input-textarea {
    height: 70px;
}
.textarea .input-textarea {
    border: 0;
}
.input-textarea {
	 outline:none;
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 10px;
    line-height: 16px;
    color: #333;
    border-radius: 0 !important;
    border: 1px solid #d8d9db;
    vertical-align: middle;
    font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}
textarea {
    resize: none;
    resize: vertical;
}
.textarea .util {
    overflow: hidden;
    padding: 10px;
    font-size: .9333em;
}
.box-star-score .star {
    display: block;
    float: left;
    vertical-align: middle;
}
.box-star-score .star .group {
    overflow: hidden;
    display: block;
    float: left;
    margin: 0;
}
.box-star-score .star .group .btn.left {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-star-left-off.png);
    background-position: right 0;
}
.box-star-score .star .group .btn.right {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-star-right-off.png);
    background-position: 0 0;
}
.box-star-score .star .group .btn {
    overflow: hidden;
    float: left;
    width: 17px;
    height: 23px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    border: 0;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.regi-reply-score.review .box-star-score .num {
    color: #503396;
}
.box-star-score .num {
    display: block;
    float: left;
    width: 60px;
    height: 23px;
    margin: 0 0 0 18px;
    padding: 0;
    text-align: right;
    vertical-align: middle;
    line-height: 23px;
    border-left: 2px solid #dadbdd;
}
.box-star-score .num em {
    font-family: Roboto;
    font-size: 1.4666em;
}
em {
    font-style: normal;
}
.box-star-score .num span {
    font-size: 1.6em;
}
.regi-reply-score p {
    margin: 0;
    padding: 0;
}


.regi-reply-score .point {
    margin-top: 30px;
}
.regi-reply-score .tit {
    text-align: center;
    line-height: 1.3;
    font-size: 1.4666em;
}
.regi-reply-score p {
    margin: 0;
    padding: 0;
}
.regi-reply-score .point .txt {
    padding: 10px 0;
    text-align: center;
}
.regi-reply-score .point .box {
    text-align: center;
}
.regi-reply-score .box {
    padding: 20px;
    border-radius: 10px;
    background-color: #f3f4f6;
}
.regi-reply-score .point .box .btn {
	cursor:pointer;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 0 5px;
    padding: 0;
    border-radius: 64px;
    border: 1px solid #d9dadc;
    background-color: transparent;
}
.regi-reply-score.review .point .box .btn.on {
    color: #fff;
    background-color: #8b69d2;
}
.modal-layer .wrap .btn-group-fixed .button+.button {
    margin-left: 6px;
}
.button.purple {
    color: #fff;
    line-height: 36px;
    border: 0;
    background: #503396;
}

.modal-layer .wrap .btn-modal-close {
	cursor:pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-layer-close.png) no-repeat center;
}
.textarea .util .count {
    float: right;
}
.textarea .util p {
    margin: 0;
    padding: 0;
}
.regi-reply-score.review .box-star-score .star .group .btn.left.on {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-star-left-review-on.png);
}
.regi-reply-score.review .box-star-score .star .group .btn.right.on {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-star-right-review-on.png);
}

.regi-reply-score .txt-alert.errText {
    color: #e81002;
}

.regi-reply-score .txt-alert {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.wrap .layer-header {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background: #503396;
}
.wrap .layer-con {
    overflow-y: auto;
    background-color: #fff;
    padding: 20px 20px 0 20px;
}
.alert-popup .layer-con {
    overflow-y: auto;
    height: auto !important;
    background-color: #fff;
   /*  //padding: 20px; */
}


.alert-popup .btn-layer-close {
	cursor:pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-layer-close.png) no-repeat center;
}
.wrap .layer-header h3.tit {
	width: 100%;
    margin: 0;
    color: #fff;
    padding: 15px 20px 0 20px;
    font-size: 1.2em;
    line-height: 1.1;
}
.alert-popup .layer-con .txt-common {
    margin: 0;
    padding: 0;
    text-align: left;
}
.alert-popup .layer-con .btn-group {
    padding: 15px 0 20px 0;
}
.btn-group {
    padding: 20px 0 30px 0;
    margin: 0;
    text-align: center;
}
.btn-group:after, .btn-group:before {
    content: '';
    display: table;
}
.btn-group:after {
    clear: both;
}
.btn-group:after, .btn-group:before {
    content: '';
    display: table;
}
body.no-scroll {
    overflow: hidden;
    overflow-y: hidden;
    width: auto;
    margin-right: 18px !important;
}



