@charset "UTF-8";
/* 맵 컨테이너 */
.map-container{
  width: 1000px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 10px 10px 5px #777;
  margin-top: 20px;
}
.map-header{
  width: 100%;
  text-align: center;
}
/* 중앙 css */
.mapinner{
  display: flex;
  width: 100%;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.map-navi{
  flex: 1;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #666;
}
.movietheater{
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#map{
  flex:3;
}

.iw_inner{
  padding: 5px;
  font-size: 14px;
}
.movie-result{
  width: 100%;
  text-align: center;
}
/* 아래 버튼 css */
.movie-button{
  border: 0;
  margin: 0;
  padding: 0%;
  width: 300px;
  height: 50px;
  background-color: #bdc3c7;
  cursor: pointer;
  margin-top: 10px
}
.movie-button:hover{
  color: #fff;
  background-color: #444;
}
